

<section class="hero is-primary">
  <div class="hero-body">
    <% if content_for?(:title) %>
  <%= yield(:title) %>
<% else %>
  <p class="title">FoodLog Application</p>
<% end %>
    
    </br>
    <p class="subtitle">Details for <%= @entry.meal_type%> Meal Type</p>
  </div>
</section>